

$camera-width: 960px;
$camera-height: 720px;
$booth-width: 518px;
$booth-height: 768px;

.main-wrap{
    position: relative;
    width: 1000px;
    margin: 0 auto;

    .mask{
        z-index:99;
        width:$booth-width;    
        height:$booth-height;    
        background: transparent url("../images/layout/booth.png") no-repeat scroll center top;
        position: absolute;
        top: 0px;
        left: 245px; 

        /*Control Bar*/
        .controls{
            position: relative;
            margin: 0 auto;
            top: 665px;
            width: 180px;

            .glyphicon-camera{
                position: relative;
                margin: 0 auto;
                top: 15px;
                display: none;
            }  

            .glyphicon-arrow-left{
                position: absolute;
                left: 0;
            }

            .glyphicon-arrow-right{
                position: absolute;
                right: 0;
            }
            
            .glyphicon-share{
                position: absolute;
                top: 15px;
                left: 74px;
            }

            .glyphicon-download{
                position: absolute;
                right: 0;
            }
        }
    }

    .camera-container{
        z-index:9999;
        width:430px;
        height:720px;
        overflow: hidden;
        margin: 0 auto 0;

        video#booth-camera{
            width:$camera-width;
            height:$camera-height;    
            margin:70px 0 0 -230px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);        
            background-position:initial initial;
            background-repeat:initial initial;        
        }

        img#booth-photo{            
            width:960px;
            height:720px; 
            margin:70px 0 0 -230px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }

        canvas#booth-canvas{
            width: $camera-width;
            height: $camera-height;
        }    

        .img-part-content{
            position: absolute;
            top: 0;
            width:$camera-width;
            height:$camera-height;  
            img{
                position: absolute;
                top: 0;
                left: -31px;
            }
        }      
    }

    .skull{
        background: transparent url("../images/layout/guidelines.png") no-repeat scroll center top; 
        width: 332px;
        height: 402px;
        position: absolute;
        top: 319px;
        left: 340px;
    }

}



