

.main-wrap{
    position: relative;
    width: 1000px;
    margin: 0 auto;

    .mask{
        z-index:10000;
        width:518px;    
        height:768px;    
        background: transparent url("../images/layout/booth.png") no-repeat scroll center top;
        position: absolute;
        top: 0px;
        left: 245px; 

        /*Control Bar*/
        .controls{
            position: relative;
            margin: 0 auto;
            top: 665px;
            width: 180px;
            .glyphicon-camera{
                position: relative;
                margin: 0 auto;
                top: 15px;
                display: none;
            }  

            .glyphicon-arrow-left{
                position: absolute;
                left: 0;
            }

            .glyphicon-arrow-right{
                position: absolute;
                right: 0;
            }
            
            .glyphicon-share{
                position: absolute;
                top: 15px;
                left: 74px;
            }

            .glyphicon-download{
                position: absolute;
                right: 0;
            }
        }
    }

    .camera-container{
        z-index:10000;
        width:430px;
        height:720px;
        overflow: hidden;
        margin: 0 auto 0;      
        img{
            /*vertical-align:top;*/
            width:960px;
            height:720px; 
            margin:70px 0 0 -230px;
        }                      
    }

    #booth-camera{
        width:960px;
        height:720px;    
        margin:70px 0 0 -230px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
         -webkit-filter: hue-rsotate(90 deg);
        background-position:initial initial;
        background-repeat:initial initial;
        /* -webkit-filter: saturate(5);*/
    }

    .skull{
        background: transparent url("../images/layout/skull.png") no-repeat scroll center top; 
        width: 332px;
        height: 402px;
        position: absolute;
        top: 110px;
        left: 340px;
    }

}



