@font-face {
    font-family: 'DinWebCondLight';
    src: url('../fonts/FFDINWebCondensedLight/DINWeb-CondLight.eot');
    src: url('../fonts/FFDINWebCondensedLight/DINWeb-CondLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FFDINWebCondensedLight/DINWeb-CondLight.woff') format('woff'),
         url('../fonts/FFDINWebCondensedLight/DINComp-CondLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
