body {
	background: rgba(0,0,0,1) url("../images/layout/bg.jpg") no-repeat scroll center top;
}
/*BTN Styles*/

/********************* I C O N S ***********************/
.btn-icon{
	background: url("../images/layout/btn-sprite.png");
	background-position: -88px 0;
	display: block-inline;
	color: #87d1e7;
	width: 39px;
	height: 39px;
	padding: 7px 0 0 10px;
	font-size: 19px;
	cursor: pointer;
}

.btn-icon:hover{
	background-position: -0px 0;
	color: #87d1e7;
}

.btn-icon:active{
	background-position: -44px 0;
	color: #87d1e7;
}
/********************* MAIN BTN ************************/
.btn-main{
	background: url("../images/layout/btn-sprite.png");
	background-position: 0 -64px;
	display: block;
	width: 203px;
	height: 37px;
	font-size: 19px;
	padding-top: 5px;
	text-align: center;
	margin-bottom: 5px;
	color: #fff;
	cursor: pointer;
	font-family: DinWebCondLight;
}

.btn-main:hover{
	background-position: 0 -112px;
	color: #fff;
	text-decoration: none;
}

.btn-main:active{
	background-position: 0 -160px;
	color: #fff;
	text-decoration: none;
}

.btn-main-selected{
	background: url("../images/layout/btn-sprite.png");
	background-position: 0 -112px;
	display: block;
	width: 203px;
	height: 37px;
	font-size: 19px;
	padding-top: 5px;
	text-align: center;
	margin-bottom: 5px;
	color: #fff;
	cursor: pointer;
	font-family: DinWebCondLight;
}

/********************* RESET BTN ***********************/

.btn-reset{
	background: url("../images/layout/btn-sprite.png");
	background-position: 0 -208px;
	display: block;
	width: 123px;
	height: 38px;
	font-size: 19px;
	text-align: center;
	padding-top: 5px;
	margin: 20px 0 0 33px;
	color: #fff;
	cursor: pointer;
	font-family: DinWebCondLight;
	text-transform: uppercase;
}

.btn-reset:hover{
	background-position: 0 -304px;
	color: #fff;
	text-decoration: none;
}

.btn-reset:active{
	background-position: 0 -256px;
	color: #fff;
	text-decoration: none;
}


/* O T H E R */
.audio{
	visibility:hidden;
}

.step2, .step3, .step4, .step5{
	display: none;
	position: relative;
}

.sitebar{
	position: absolute;
	top: 250px;
	left: 15px;
}

.filter{
	@extend .sitebar;
	.btn-reset{
		margin-top: 80px;
	}

	.btn-main{
		font-style: italic;
	}
}

.messages{
	@extend .sitebar;
	.btn-main{
		text-transform: uppercase;
	}
}

.costume{
	@extend .sitebar;

	.panel{
		border: none;
		background: transparent;
		.panel-heading{
			border: none;
			background: transparent;
			padding: 0;
		}
	}

	.panel-group .panel-heading + .panel-collapse .panel-body{
		border:none;		
	}

	.panel-body{
		margin: 0px 8px;
		padding: 0;
		color: #fff;
		position: relative;
		.bg-blue{
			background-color: #010d1f;
			opacity: 0.6;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 5px;
			border:1px solid #000;
		}
	}

	.btn-main{
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 0;
	}

	.carousel{
		img{
			max-width: 190px;
			margin: -50px 0px 0 -5px;
			cursor: pointer;
		}
		.item{
			height:220px;
		}
	}
}

.termomenter{
	background-image: url('../images/layout/termometer.png');
	position: absolute;
	top: 455px;
	right: 170px;
	width: 122px;
	height: 252px;
	z-index: 1000;
	div{
		position: relative;
		width: 4px;
		left: 88px;
	}
	.level1{
		background-image: none;
	}
	.level2{
		background-image: url('../images/layout/level2.jpg');
		height: 38px;
		top: 179px;
	}
	.level3{
		background-image: url('../images/layout/level3.jpg');
		height: 76px;
		top: 141px;
	}
	.level4{
		background-image: url('../images/layout/level4.jpg');
		height: 114px;
		top: 103px;
	}
	.level5{
		background-image: url('../images/layout/level5.jpg');
		height: 152px;
		top: 65px;
	}
}

#final-canvas{
	position: absolute;
	top: 0;
	left: 0;
}
